tp3_WSDL/tst.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.example.com/calculator"
             targetNamespace="http://www.example.com/calculator"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- Déclaration des types de données -->
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/calculator">
            <!-- Définition du type d'entrée pour l'opération d'addition -->
            <element name="AddRequest">
                <complexType>
                    <sequence>
                        <element name="num1" type="xsd:int"/>
                        <element name="num2" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
            
            <!-- Définition du type de sortie pour l'opération d'addition -->
            <element name="AddResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
            
            <!-- Définition du type d'entrée pour l'opération de soustraction -->
            <element name="SubtractRequest">
                <complexType>
                    <sequence>
                        <element name="num1" type="xsd:int"/>
                        <element name="num2" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
            
            <!-- Définition du type de sortie pour l'opération de soustraction -->
            <element name="SubtractResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <!-- Déclaration des messages pour les opérations -->
    <message name="AddRequestMessage">
        <part name="parameters" element="tns:AddRequest"/>
    </message>
    <message name="AddResponseMessage">
        <part name="parameters" element="tns:AddResponse"/>
    </message>
    <message name="SubtractRequestMessage">
        <part name="parameters" element="tns:SubtractRequest"/>
    </message>
    <message name="SubtractResponseMessage">
        <part name="parameters" element="tns:SubtractResponse"/>
    </message>

    <!-- Déclaration des opérations -->
    <portType name="CalculatorPortType">
        <operation name="Add">
            <input message="tns:AddRequestMessage"/>
            <output message="tns:AddResponseMessage"/>
        </operation>
        <operation name="Subtract">
            <input message="tns:SubtractRequestMessage"/>
            <output message="tns:SubtractResponseMessage"/>
        </operation>
    </portType>

    <!-- Déclaration du service -->
    <binding name="CalculatorBinding" type="tns:CalculatorPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Add">
            <soap:operation soapAction="http://www.example.com/calculator/Add"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Subtract">
            <soap:operation soapAction="http://www.example.com/calculator/Subtract"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="CalculatorService">
        <port name="CalculatorPort" binding="tns:CalculatorBinding">
            <soap:address location="http://www.example.com/calculator"/>
        </port>
    </service>
</definitions>
